<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Lien pour la pseudo ou connexion -->
        {% if app.user is not null %}
            <a href="{{ path('app_dashboard') }}" class="navbar-brand">
                <p class="m-0">{{ app.user.pseudo ? app.user.pseudo : 'CONNEXION' }}</p>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="navbar-brand">
                <p class="m-0">CONNEXION</p>
            </a>
        {% endif %}

        <!-- Affichage des points et du rang -->
        <div class="d-flex flex-row align-items-center">
            {% if app.user is not null %}
                <div class="text-center text-lg-left me-4">
                    <p class="font-bold text-black">LFB</p>
                    <p class="text-black"> {{ app.user.getPtlLfb() }}pts ({{ rankLFB }}e)</p>
                </div>
                <div class="text-center text-lg-left">
                    <p class="font-bold text-black">LF2</p>
                    <p class="text-black"> {{ app.user.getPtLf2() }}pts ({{ rankLF2 }}e)</p>
                </div>
            {% else %}
                <div class="text-center text-lg-left me-4">
                    <p class="font-bold text-black">LFB</p>
                    <p class="text-black">Points: -</p>
                </div>
                <div class="text-center text-lg-left">
                    <p class="font-bold text-black">LF2</p>
                    <p class="text-black">Points: -</p>
                </div>
            {% endif %}
        </div>

        <!-- Bouton pour mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenu de la barre de navigation -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- Dropdown Deck LFB -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDeckLFB" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DECK LFB
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDeckLFB">
                        {% for weekLFB in app.session.get('weeksLFB') %}
                            <li><a class="dropdown-item" href="{{ path('app_dashboard_id', {'id': weekLFB.id}) }}">Week {{ weekLFB.id }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <!-- Dropdown Deck LF2 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDeckLF2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DECK LF2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDeckLF2">
                        {% for weekLF2 in app.session.get('weeksLF2') %}
                            <li><a class="dropdown-item" href="{{ path('app_dashboard_id', {'id': weekLF2.id}) }}">Week {{ weekLF2.id - 22 }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <!-- Dropdown Ranking LFB -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRankingLFB" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        RANKING LFB
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownRankingLFB">
                        <li><a class="dropdown-item" href="#">Week</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_team_ranking', {'league': 'lfb'}) }}">Season</a></li>
                    </ul>
                </li>

                <!-- Dropdown Ranking LF2 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRankingLF2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        RANKING LF2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownRankingLF2">
                        <li><a class="dropdown-item" href="#">Week</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_team_ranking', {'league': 'lf2'}) }}">Season</a></li>
                    </ul>
                </li>

                <!-- Lien vers les règles -->
                <li class="nav-item">
                    <a class="nav-link" href="#">RULES</a>
                </li>

                <!-- Bouton de déconnexion -->
                {% if app.user is not null %}
                    <li class="nav-item">
                        <form action="{{ path('app_logout') }}" method="post" class="form-inline">
                            <button class="btn btn-outline-success" type="submit">Déconnexion</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
