{% extends 'base.html.twig' %}

{% block body %}
    <h1>Week {{ selectedWeek.id }} Ranking for League {{ league }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
