{% extends 'base.html.twig' %}

{% block title %}Team: {{ team.name }}{% endblock %}

{% block body %}
    <!-- Back Button -->
    <a href="{{ path('app_dashboard_id', { 'id': weekId }) }}" class="btn btn-secondary">Back</a>

    <h1>Team: {{ team.name }}</h1>

    <h2>Players in the Team</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Note</th>
                <th>Action</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Points</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for player in team.players %}
                <tr>
                    <td>{{ player.forename }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.rating }}</td>
                    <td>
                        <button type="button" class="btn btn-primary add-player-btn" data-player-id="{{ player.id }}" data-player-forename="{{ player.forename }}" data-player-name="{{ player.name }}">Ajouter</button>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('assign_points', { 'playerId': player.id, 'weekId': weekId }) }}" class="btn btn-warning">Attribuer des points</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div>
        <h3>DECK</h3>
        <ul id="deckPlayers">
            {% for player in selectedPlayers %}
                <li>
                    {{ player.forename }} {{ player.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            const weekId = new URLSearchParams(window.location.search).get('weekId');

            $('.add-player-btn').on('click', function () {
                const playerId = $(this).data('player-id');
                const playerForename = $(this).data('player-forename');
                const playerName = $(this).data('player-name');

                fetch("{{ path('app_team_save_players') }}?weekId=" + encodeURIComponent(weekId), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ players: [{ id: playerId, forename: playerForename, name: playerName }] }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert(playerForename + ' ' + playerName + ' a été ajouté avec succès!');
                        location.reload(); // Recharger la page pour mettre à jour la liste des joueurs
                    } else {
                        alert('Erreur: ' + data.message);
                    }
                })
                .catch(error => {
                    alert('Erreur: ' + error.message);
                    console.error('Erreur:', error);
                });
            });
        });
    </script>
{% endblock %}
