{% extends 'base.html.twig' %}

{% block title %}Team: {{ team.name }}{% endblock %}

{% block body %}
  <!-- Back Button -->
<a href="{{ path('app_dashboard_id', { 'id': weekId }) }}" class="btn btn-secondary mb-3">Back</a>

<div class="container">
    <h1 class="h3 text-center text-md-left">{{ team.name }}</h1>

   
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Note</th>
                    <th>Action</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Points</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for player in team.players %}
                    <tr>
                        <td>{{ player.forename }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.rating }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm add-player-btn" data-player-id="{{ player.id }}" data-player-forename="{{ player.forename }}" data-player-name="{{ player.name }}">Ajouter</button>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('assign_points', { 'playerId': player.id, 'weekId': weekId }) }}" class="btn btn-warning btn-sm">Attribuer des points</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4 mb-4">
        <h3 class="h5 text-center text-md-left">DECK</h3>
        <ul id="deckPlayers" class="list-group">
            {% for player in selectedPlayers %}
                <li class="list-group-item">
                    {{ player.forename }} {{ player.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            const weekId = new URLSearchParams(window.location.search).get('weekId');

            $('.add-player-btn').on('click', function () {
                const playerId = $(this).data('player-id');
                const playerForename = $(this).data('player-forename');
                const playerName = $(this).data('player-name');

                fetch("{{ path('app_team_save_players') }}?weekId=" + encodeURIComponent(weekId), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ players: [{ id: playerId, forename: playerForename, name: playerName }] }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert(playerForename + ' ' + playerName + ' a été ajouté avec succès!');
                        location.reload(); // Recharger la page pour mettre à jour la liste des joueurs
                    } else {
                        alert('Erreur: ' + data.message);
                    }
                })
                .catch(error => {
                    alert('Erreur: ' + error.message);
                    console.error('Erreur:', error);
                });
            });
        });
    </script>
{% endblock %}
