{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <h2>Matches for Week {{ week.id }}</h2>

    {% if week.id > 22 %}
        <h3>LF2 Matches</h3>
        <ul>
            {% for match in matchesLF2 %}
                <li>
                    Match Day: {{ week.id }} | 
                    <a href="{{ path('app_team_show', {'id': match.home_team_id}) }}">Home Team ID: {{ match.home_team_id }}</a> | 
                    <a href="{{ path('app_team_show', {'id': match.away_team_id}) }}">Away Team ID: {{ match.away_team_id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if week.id <= 22 %}
        <h3>LFB Matches</h3>
        <ul>
            {% for match in matchesLFB %}
                <li>
                    Match Day: {{ match.match_day }} | 
                    <a href="{{ path('app_team_show', {'id': match.home_team_id}) }}">Home Team ID: {{ match.home_team_id }}</a> | 
                    <a href="{{ path('app_team_show', {'id': match.away_team_id}) }}">Away Team ID: {{ match.away_team_id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block deck %}
        <div>
            <h3>DECK</h3>
            <ul id="deckPlayers">
                {% for player in selectedPlayers %}
                    <li>{{ player.forename }} {{ player.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const selectedPlayers = {{ selectedPlayers|json_encode|raw }};

        const deckPlayersUl = document.getElementById('deckPlayers');
        selectedPlayers.forEach(player => {
            const li = document.createElement('li');
            li.textContent = `${player.forename} ${player.name}`;
            deckPlayersUl.appendChild(li);
        });
    </script>
{% endblock %}
