{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <h2>Matches for Week {{ weekId }}</h2>

    {% if weekId > 22 %}
        <h3>LF2 Matches</h3>
        <ul>
            {% for match in matchesLF2 %}
                <li>Match Day: {{ match.match_day }} | Home Team ID: {{ match.home_team_id }} | Away Team ID: {{ match.away_team_id }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if weekId <= 22 %}
        <h3>LFB Matches</h3>
        <ul>
            {% for match in matchesLFB %}
                <li>Match Day: {{ match.match_day }} | Home Team ID: {{ match.home_team_id }} | Away Team ID: {{ match.away_team_id }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
