{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <h2>Matches for Week {{ week.id }}</h2>

    {% if week.id > 22 %}
        <h3>LF2 Matches</h3>
        <ul>
            {% for match in matchesLF2 %}
                <li>
                    Match Day: {{ week.id }} | 
                    <a href="{{ path('app_team_show', {'id': match.home_team_id, 'weekId': week.id}) }}">Home Team ID: {{ match.home_team_id }}</a> | 
                    <a href="{{ path('app_team_show', {'id': match.away_team_id, 'weekId': week.id}) }}">Away Team ID: {{ match.away_team_id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if week.id <= 22 %}
        <h3>LFB Matches</h3>
        <ul>
            {% for match in matchesLFB %}
                <li>
                    Match Day: {{ match.match_day }} | 
                    <a href="{{ path('app_team_show', {'id': match.home_team_id, 'weekId': week.id}) }}">Home Team ID: {{ match.home_team_id }}</a> | 
                    <a href="{{ path('app_team_show', {'id': match.away_team_id, 'weekId': week.id}) }}">Away Team ID: {{ match.away_team_id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        <h3>DECK</h3>
        <ul id="deckPlayers">
            {% for player in selectedPlayers %}
                <li>{{ player.forename }} {{ player.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
