

{% extends 'base.html.twig' %}

{% block title %}Classement {{ league|upper }}{% endblock %}

{% block body %}
    <h1>Classement - {{ league|upper }}</h1>

    <table>
        <thead>
            <tr>
                <th>Rang</th>
                <th>Pseudo</th>
                <th>Points {{ league|upper }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>
                        {% if league == 'lfb' %}
                            {{ user.ptlLfb  }}
                        {% else %}
                            {{ user.ptLf2  }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
